<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DataContext" connectionString="Server=tcp:ulr3bfx6n0.database.windows.net,1433;Database=demo;User ID=romi;Password=Dommain99*;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>